:root{
    --spacing:10px;
    --blur:10px;
    --color:#d4ff00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width:80%;
    margin: 0 auto;
    padding:1rem;
    background-color:rgb(25, 53, 73);
    color:white;
    text-align: center;
    font-size: 22px;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    margin:1rem;
}
 span{
    color: var(--color);
}
img{
    width: 50%;
    height:60vh;
    padding: var(--spacing);
    margin:2rem 25%;
    background-color: var(--color);
   filter:blur(var(--blur));
}
.filters{
    margin:2rem auto;
    color:white;
}
input{
    accent-color: white;
}